<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>

    <!-- favicon -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="{{url_for('static',filename='assets/img/favicon.png')}}"
    />
    <!-- google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/all.min.css') }}"
    />
    <!-- Form Styling And Flash -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}"
    />
    <!-- owl carousel -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='assets/css/owl.carousel.css')}}"
    />
    <!-- magnific popup -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='assets/css/magnific-popup.css')}}"
    />
    <!-- animate css -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='assets/css/animate.css')}}"
    />
    <!-- mean menu css -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='assets/css/meanmenu.min.css')}}"
    />
    <!-- main style -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='assets/css/main.css')}}"
    />
    <!-- responsive -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='assets/css/responsive.css')}}"
    />
  </head>
  <body>
    <!-- header -->
    <div class="top-header-area" id="sticker" style="padding-left: 30px">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 text-center">
            <div class="main-menu-wrap" style="text-align: end">
              <!-- logo -->
              <div class="site-logo">
                <a href="/">
                  <img src="static/assets/img/logo.png" alt="" />
                </a>
              </div>
              <!-- logo -->
              {% if 'username' in session %} {% if username !='admin'%}
              <a
                href="{{ url_for('account', username=session['username']) }}"
                style="color: #f28123"
              >
                Profile
              </a>
              <a
                class="shopping-cart"
                href="/cart"
                style="color: #f28123; margin: 0 25px"
                ><i class="fas fa-shopping-cart"></i
              ></a>
              {% endif %} {% endif %} {% if 'username' not in session %} {% if
              username !='admin'%}
              <a href="/signup" style="color: #f28123"> Signup </a>
              <a href="/login" style="color: #f28123; margin: 0 25px">
                Login
              </a>
              {% endif %} {% endif %} {% if username == 'admin'%}
              <a href="/users" style="color: #f28123"> Users </a>
              <a href="/addProduct" style="color: #f28123; margin: 0 25px">
                Add product
              </a>
              {% endif %} {% if ('username' in session) or (username =='admin')
              %}
              <a href="/logout" style="color: #f28123; margin-right: 100px">
                Logout
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end header -->

    <!-- hero area -->
    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
              <p>Fresh and Organic</p>
              <h1>Shop</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- products -->
    {% include 'includes/alert.html' %} {% if 'username' not in session and
    username != "admin" %}
    <div
      class="alert alert-info alert-dismissible"
      role="alert"
      style="text-align: center"
    >
      To view the shop and buy you have to be logged in!
    </div>
    {% else %}
    <div class="product-section mt-150 mb-150">
      <div class="container">
        <div class="row product-lists">
          {% if products %} {% for product in products %}
          <div class="col-lg-4 col-md-6 text-center">
            <div class="single-product-item">
              <div class="product-image">
                <a href="">
                  <img
                    src="{{ url_for('static', filename=product[3]) }}"
                    alt=""
                  />
                </a>
              </div>
              <h3>{{ product[1] }}</h3>
              <p class="product-price"><span>Per Kg</span> ${{ product[2] }}</p>
              {% if username != 'admin' %}
              <a
                href="{{ url_for('add_to_cart', product_id=product[0]) }}"
                class="cart-btn"
              >
                <i class="fas fa-shopping-cart"></i> Add to Cart
              </a>
              {% endif %} {% if username == 'admin' %}
              <a
                href="{{ url_for('delete_product', product_id=product[0]) }}"
                class="cart-btn"
                style="background: red; margin: 0 10px"
              >
                <i class="fas fa-trash-alt"></i> Delete
              </a>
              {% endif %}
            </div>
          </div>
          {% endfor %} {% else %}
          <div
            class="alert alert-warning alert-dismissible"
            role="alert"
            style="text-align: center"
          >
            No products found!
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    <!-- end products -->
    <!-- end hero area -->

    <!-- jquery -->
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>
    <!-- For Flash -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/close-all-alerts.js') }}"></script>
  </body>
</html>
