<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>

    <!-- favicon -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="{{url_for('static',filename='assets/img/favicon.png')}}"
    />
    <!-- google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/all.min.css') }}"
    />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}"
    />
    <!-- main style -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='assets/css/main.css')}}"
    />
    <!-- responsive -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='assets/css/responsive.css')}}"
    />
    <!-- Form Styling And Flash -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />

    <style>
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      th,
      td {
        padding: 8px 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }
      td {
        vertical-align: middle;
      }
    </style>
  </head>
  <body class="hero-bg">
    <!-- header -->
    <div class="top-header-area" id="sticker">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 text-center">
            <div class="main-menu-wrap">
              <!-- logo -->
              <div class="site-logo">
                <a href="/">
                  <img src="static/assets/img/logo.png" alt="" />
                </a>
              </div>
              <!-- logo -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end header -->

    <!-- hero area -->
    <section>
      <div class="wrapper hero-bg" style="max-width: 980px; height: auto">
        <h2>Users</h2>
        {% include 'includes/alert.html' %}
        <table border="1">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %} {% if user[3] != 'admin' %}
            <tr>
              <td>{{ user[1] }}</td>
              <td>{{ user[2] }}</td>
              <td>{{ user[3] }}</td>
              <td>
                <a
                  href="{{ url_for('delete_user', user_id=user[0]) }}"
                  class="cart-btn"
                  style="
                    background: red;
                    margin: 0 10px;
                    text-decoration: none;
                    margin-left: -25px;
                  "
                >
                  <i class="fas fa-trash-alt"></i> Delete
                </a>
              </td>
            </tr>
            {% endif %} {% endfor %}
          </tbody>
        </table>
        <a href="/home" style="color: #f28123; text-decoration: none"> Home </a>
      </div>
    </section>

    <!-- end hero area -->
    <!-- For Flash -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/close-all-alerts.js') }}"></script>
  </body>
</html>
